LookForCars/Connected Services/L4C/LookForCarsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LookForCarsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50083/LookForCarsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50083/LookForCarsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50083/LookForCarsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILookForCarsService_checkUser_InputMessage">
    <wsdl:part name="parameters" element="tns:checkUser" />
  </wsdl:message>
  <wsdl:message name="ILookForCarsService_checkUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkUserResponse" />
  </wsdl:message>
  <wsdl:message name="ILookForCarsService_UserAuth_InputMessage">
    <wsdl:part name="parameters" element="tns:UserAuth" />
  </wsdl:message>
  <wsdl:message name="ILookForCarsService_UserAuth_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserAuthResponse" />
  </wsdl:message>
  <wsdl:message name="ILookForCarsService_CreateUserAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserAddress" />
  </wsdl:message>
  <wsdl:message name="ILookForCarsService_CreateUserAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserAddressResponse" />
  </wsdl:message>
  <wsdl:message name="ILookForCarsService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="ILookForCarsService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="ILookForCarsService_CreatePolicy_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePolicy" />
  </wsdl:message>
  <wsdl:message name="ILookForCarsService_CreatePolicy_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePolicyResponse" />
  </wsdl:message>
  <wsdl:message name="ILookForCarsService_UpdatePolicy_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePolicy" />
  </wsdl:message>
  <wsdl:message name="ILookForCarsService_UpdatePolicy_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePolicyResponse" />
  </wsdl:message>
  <wsdl:message name="ILookForCarsService_CreateVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateVehicle" />
  </wsdl:message>
  <wsdl:message name="ILookForCarsService_CreateVehicle_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateVehicleResponse" />
  </wsdl:message>
  <wsdl:message name="ILookForCarsService_GetVehicleDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVehicleDetails" />
  </wsdl:message>
  <wsdl:message name="ILookForCarsService_GetVehicleDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVehicleDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ILookForCarsService_GetUserPolicies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserPolicies" />
  </wsdl:message>
  <wsdl:message name="ILookForCarsService_GetUserPolicies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserPoliciesResponse" />
  </wsdl:message>
  <wsdl:message name="ILookForCarsService_GetUserPoliciesByStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserPoliciesByStatus" />
  </wsdl:message>
  <wsdl:message name="ILookForCarsService_GetUserPoliciesByStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserPoliciesByStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="ILookForCarsService">
    <wsdl:operation name="checkUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ILookForCarsService/checkUser" message="tns:ILookForCarsService_checkUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILookForCarsService/checkUserResponse" message="tns:ILookForCarsService_checkUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserAuth">
      <wsdl:input wsaw:Action="http://tempuri.org/ILookForCarsService/UserAuth" message="tns:ILookForCarsService_UserAuth_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILookForCarsService/UserAuthResponse" message="tns:ILookForCarsService_UserAuth_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUserAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/ILookForCarsService/CreateUserAddress" message="tns:ILookForCarsService_CreateUserAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILookForCarsService/CreateUserAddressResponse" message="tns:ILookForCarsService_CreateUserAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ILookForCarsService/CreateUser" message="tns:ILookForCarsService_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILookForCarsService/CreateUserResponse" message="tns:ILookForCarsService_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePolicy">
      <wsdl:input wsaw:Action="http://tempuri.org/ILookForCarsService/CreatePolicy" message="tns:ILookForCarsService_CreatePolicy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILookForCarsService/CreatePolicyResponse" message="tns:ILookForCarsService_CreatePolicy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePolicy">
      <wsdl:input wsaw:Action="http://tempuri.org/ILookForCarsService/UpdatePolicy" message="tns:ILookForCarsService_UpdatePolicy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILookForCarsService/UpdatePolicyResponse" message="tns:ILookForCarsService_UpdatePolicy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/ILookForCarsService/CreateVehicle" message="tns:ILookForCarsService_CreateVehicle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILookForCarsService/CreateVehicleResponse" message="tns:ILookForCarsService_CreateVehicle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVehicleDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ILookForCarsService/GetVehicleDetails" message="tns:ILookForCarsService_GetVehicleDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILookForCarsService/GetVehicleDetailsResponse" message="tns:ILookForCarsService_GetVehicleDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserPolicies">
      <wsdl:input wsaw:Action="http://tempuri.org/ILookForCarsService/GetUserPolicies" message="tns:ILookForCarsService_GetUserPolicies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILookForCarsService/GetUserPoliciesResponse" message="tns:ILookForCarsService_GetUserPolicies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserPoliciesByStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ILookForCarsService/GetUserPoliciesByStatus" message="tns:ILookForCarsService_GetUserPoliciesByStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILookForCarsService/GetUserPoliciesByStatusResponse" message="tns:ILookForCarsService_GetUserPoliciesByStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILookForCarsService" type="tns:ILookForCarsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="checkUser">
      <soap:operation soapAction="http://tempuri.org/ILookForCarsService/checkUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserAuth">
      <soap:operation soapAction="http://tempuri.org/ILookForCarsService/UserAuth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUserAddress">
      <soap:operation soapAction="http://tempuri.org/ILookForCarsService/CreateUserAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/ILookForCarsService/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePolicy">
      <soap:operation soapAction="http://tempuri.org/ILookForCarsService/CreatePolicy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePolicy">
      <soap:operation soapAction="http://tempuri.org/ILookForCarsService/UpdatePolicy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateVehicle">
      <soap:operation soapAction="http://tempuri.org/ILookForCarsService/CreateVehicle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleDetails">
      <soap:operation soapAction="http://tempuri.org/ILookForCarsService/GetVehicleDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserPolicies">
      <soap:operation soapAction="http://tempuri.org/ILookForCarsService/GetUserPolicies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserPoliciesByStatus">
      <soap:operation soapAction="http://tempuri.org/ILookForCarsService/GetUserPoliciesByStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LookForCarsService">
    <wsdl:port name="BasicHttpBinding_ILookForCarsService" binding="tns:BasicHttpBinding_ILookForCarsService">
      <soap:address location="http://localhost:50083/LookForCarsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>